@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    @apply bg-slate-100 text-slate-800 antialiased;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #f8fafc, #eef1f6);
    background-attachment: fixed;
}
